<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>518124026923-kmaei714ci0bjgv928qrg9brtej26vii.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.518124026923-kmaei714ci0bjgv928qrg9brtej26vii</string>
	<key>API_KEY</key>
	<string>AIzaSyCZtSbxhBprX9kRIRcSC9DlMLpMnI9T-AQ</string>
	<key>GCM_SENDER_ID</key>
	<string>518124026923</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eksouvan.eksouvan</string>
	<key>PROJECT_ID</key>
	<string>eksouvan</string>
	<key>STORAGE_BUCKET</key>
	<string>eksouvan.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:518124026923:ios:a91723e63d03b39400be6e</string>
	<key>DATABASE_URL</key>
	<string>https://eksouvan-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>